{{> head}}


{{> navbar}}

<div class="row">
     <div class="col-8">
          <h1>Jhin </h1>
          <p>
               Info Aqui
          </p>
     </div>
     <div class="col-4">
          <img style="width: 100%;" src="assets/img/jin.jpg" class="img-thumbnail">
     </div>


     {{> footer}}